/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
p {
	grid-area: header;
	color: #777;
	margin-right: 2em;
}
input {
	width: 115px;
	height: 50px;
	grid-area: main-content;
	text-align: left;
	padding-left: 1.2em;
	font-size: 15px;
	justify-self: start;
	align-self: bottom;
	background-color: rgb(255,255,255,0);
}
/*For the bottom two buttons (this one should be overriden for the "Give Now" button)*/
button{
	width: 130px;
	height: 40px;
	font-weight: bold;
	font-size: 11px;
	color: #777;
}
span{
	grid-area: main-content;
	font-size: 15px;
	padding-top: 6%;
	padding-left: 0.5em;
	color: #777;
}
/*Classes*/
.center-containers { /*Just to align/size everything to the middle*/
	margin: 0px auto;
	width: 20%;
}
/*Speech Bubble*/
.speech-bubble {
	display: flex;
	position: relative;
	background: #424242;
	padding: 1em;
	color: white;
	border-radius: 2px;
	text-align: center;
	justify-content: center;
}
.speech-bubble::after{
	content: " ";
	position: absolute;
	right: 1.5em;
	top: 100%;
	width: 0;
	height: 0;
	border-top: 10px solid #424242;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
/*3 Containers:
	The Orange Bar
	Everything in between (not including the bottom two buttons)
	The bottom 2 buttons
*/
.container1{
	/*Sizing*/
	height: 12px;
	display: flex;
	border: 1px solid #EAEAEA;
}
.container2 {
	/*Margin and padding*/
	padding: 1em;
	/*Sizing of the grid*/
	height: auto;
	min-height: 50px;
	/*setup the grid rows/columns*/
	display: grid;
	grid-template-rows: 2fr 1fr 10%;
	grid-template-areas:"header" "main-content" "footer";
	/*Styling*/
	border: 1px solid #EAEAEA;
	font-size: 13px;
}
/*For the bottom two buttons*/
.container3 {
	padding-top: 1em;
	display: flex;
	justify-content: space-between;
}
/*For the buttons and inputs*/
.thin-border{
	border-style: solid;
	border-width: thin;
	border-radius: 5px;
}
/*single-use ids*/
#give-now-button {
	grid-area: main-content;
	width: 115px;
	height: 50px;
	font-size: 13px;
	background-color: #1CBC2C; /*green*/
	color: white; /*text color*/
	border: 1px none;
	border-radius: 5px;
	justify-self: end;
	align-self: bottom;
}
#orange-bar {
	height: auto;
	width: 75%;
	background: #EF5F3C;
}
#why-give {
	grid-area: footer;
	padding-top: 0.5em;
	color: #20A1D4;
	font-style: italic;
}
